body {
    background-color: black;
    

}

#container {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(36, 35, 35, 0.884);
    
    

}

img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

#informacoes {
    padding-left: 60px;
    margin-top: 10vh;
    color: white;
 
    
}

#pclaro {
    color: gray;
}

#link {
    display: flex;
    flex-direction: column;
    
    
    
    

    

}

input {
    border: 1px solid rgb(34, 99, 197);
    border-radius: 10px;
    padding: 8px;
    background-color: rgba(36, 35, 35, 0.884);
    color: rgba(43, 148, 218, 0.904);
    
    

}

a {
    text-decoration: none;
    color: rgba(43, 148, 218, 0.904);


}

.imagem-perfil{
  width: 200px;         
  height: 200px;        
  border-radius: 50%;   
  object-fit: cover;    
  
}