body {
    background-color: black;

}

#container {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(36, 35, 35, 0.884);


}

img {
    width: 100%;
    height: 260px;
}

#informacoes {
    padding-left: 60px;
    margin-top: 10vh;
    color: white;
}

#pclaro {
    color: gray;
}

#link {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: right;

}

input {
    border: 1px solid rgb(34, 99, 197);
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(36, 35, 35, 0.884);
    color: rgba(43, 148, 218, 0.904);
    

}

a {
    text-decoration: none;
    color: rgba(43, 148, 218, 0.904);


}