:root{
    --arredondamento:40px;
}
body{
    margin: 0;
    background-color: rgb(46, 44, 44);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#img-capa{
    background: url(../Img/Capa.webp);
    height:20vh ;
}
.destaque-texto{ 
    font-weight: bold;
}
.descricao{

    color: gray;
}

a{ 
    color: rgba(160, 0, 252, 0.692);
    text-decoration: none;
}

button {
    border-radius: var(--arredondamento);
    padding: 6px 13px ;
    border: 1px solid rgba(24, 99, 212, 0.63);
    font-weight: bold;
   
}
.botao-primario{
    background-color:rgba(24, 99, 212, 0.63) ;

}
.botao-secundario{
    color: rgba(24, 99, 212, 0.63);
    background-color: rgb(46, 44, 44);
}

p{ 
    margin-top: -8px;
}