:root{
    --arredondamento:40px;
}
body{
    margin: 0;
    background-color:black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#img-capa{
    background: url(../Img/Capa.webp);
    height:30vh ;
   
}
.destaque-texto{ 
    font-weight: bold;
}
.descricao{

    color: gray;
}

a{ 
    color: rgba(160, 0, 252, 0.692);
    text-decoration: none;
}


button {
    border-radius: var(--arredondamento);
    padding: 6px 13px ;
    border: 1px solid rgba(24, 99, 212, 0.63);
    font-weight: bold;
   
}
.botao-primario{
    background-color:rgba(24, 99, 212, 0.63) ;

}
.botao-secundario{
    color: rgba(24, 99, 212, 0.63);
    background-color: rgb(46, 44, 44);
}

p{ 
    margin-top: -8px;
}

.botao-primario:hover {
    background-color: black;
    color: blue;
    cursor: pointer;


}
.botao-secundario:hover{
    background-color:  rgba(24, 99, 212, 0.63);
    color:black;
    cursor: pointer;
}


#informacoes-pessoais{
    width: 60vw;
}
#empresas{
    width: 40vw;
    padding: 100px;

}
.logo{
    height: 40px;
    width: 40px;
}
.item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 8px;
}
#secao-superior{
    display: flex;
    padding: 20px;
   
}
#avatar img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;


}
#avatar {
    position: relative;
    margin-top: -80px;
}

.logo-linkedin{
    font-size: 30px;
}
#menu-esquerdo{
    width: 30vw;
    display: flex;
    align-items: center;
    gap: 5px;
}
#menu-direito{
    width: 70vw;
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
   
}
nav{
    display: flex;
    padding: 10px 20px 10px 20px;
    background-color:  rgb(46, 44, 44);
}

input{
height: 20px;
background-color: rgba(128, 128, 128, 0.418);
color: white;
border-radius: 5px;
border: 1px solid white;
padding:3px 10px;

}

input::placeholder{
    color: white;
}
.item-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
}
#menu-direito div:last-child{
    border-left: 1px solid white;
    padding-left: 5px;
}
#container{
    background-color: rgb(46, 44, 44) ;
    border-radius: 20px;
    border: 1px solid  rgb(46, 44, 44);
    margin:50px 500px 30px 80px;
   
   
    
    

}
