:root{
    --arredondamento:40px;
}
body{
    margin: 0;
    background-color: rgb(46, 44, 44);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#img-capa{
    background: url(../correcao/assets/Img/Capa.webp);
    height:30vh ;
}
.destaque-texto{ 
    font-weight: bold;
}
.descricao{

    color: gray;
}

a{ 
    color: rgba(160, 0, 252, 0.692);
    text-decoration: none;
}


button {
    border-radius: var(--arredondamento);
    padding: 6px 13px ;
    border: 1px solid rgba(24, 99, 212, 0.63);
    font-weight: bold;
   
}
.botao-primario{
    background-color:rgba(24, 99, 212, 0.63) ;

}
.botao-secundario{
    color: rgba(24, 99, 212, 0.63);
    background-color: rgb(46, 44, 44);
}

p{ 
    margin-top: -8px;
}

.botao-primario:hover {
    background-color: black;
    color: blue;
    cursor: pointer;


}
.botao-secundario:hover{
    background-color:  rgba(24, 99, 212, 0.63);
    color:black;
    cursor: pointer;
}


#informacoes-pessoais{
    width: 60vw;
}
#empresas{
    width: 40vw;
    padding: 100px;

}
.logo{
    height: 40px;
    width: 40px;
}
.item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 8px;
}
#secao-superior{
    display: flex;
    padding: 20px;
   
}
#avatar img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;


}
#avatar {
    position: relative;
    margin-top: -80px;
}

header{
    margin-top: 30px;
    padding: 0px 20px;
}

header nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

    header nav {
    /* define que há exibição dos elementos */
    /* por padão ficarão em linha, um na frente do outro */
    display: flex;
    /*alinha os elementos na horizontal  */
    justify-content: space-between;
    /* alinha os elementos na vertical */
    /* align-items: center; */
    /* height: 15vh; */
    /* padding: 0px 5px;
    max-width: 1200px; */
    /* margin: 0 auto; */
}
 #pesquisar input{
 border-radius: 3px;
 border:1px rgb(37, 37, 37);
 background-color:rgba(255, 255, 255, 0.253);
 padding: 5px;
 

  
  
}

input::placeholder{
    color: rgba(255, 255, 255, 0.473);
    
}

 
 li{
    display: flex;
  flex-direction: column; /* Alinha o ícone sobre o texto */
  align-items: center;
 }

 .navbar{

    align-items: center;
 }
 #icon{
    
  display: flex;
  justify-content: space-between; /* Empurra os dois grupos para as pontas */
  align-items: center;
  gap: 2px;
  /* padding: 10px 5%; */
  /* color: white; */

 }
 #log{
    font-size: 2rem; /* Aumente este valor (ex: 2rem, 30px, etc) */
  margin-bottom: 5px;
 }
 .ln-divider {
  width: 1px;
  height: 32px;
  background-color: #5e6d77;
}